{% if request.resolver_match.url_name == 'home' %}
    {% if site_announcement %}
        <div class="modal fade" id="announcementModel" tabindex="-1"
             aria-labelledby="announcementModelLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content shadow-lg border-0">
                    <div class="modal-header text-white" style="background-color: #5F9EA0">
                        <h5 class="modal-title fw-bold" id="announcementModalLabel"
                            style="font-family: 'Playfang Sans', serif;">
                                Announcement
                        </h5>
                        <button type="button" class="btn-close btn-close-white"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center py-5 fs-5 text-dark" style="font-family: 'Playfang Sans', serif; font-size: 1rem ">
                        {{ site_announcement.content|linebreaks }}
                    </div>
                    <div class="modal-footer justify-content-center border-0 pb-4">
                        <button type="button" class="btn btn-custom btn-lg shadow-sm px-5" data-bs-dismiss="modal">
                            Got it
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script>
        document.addEventListener("DOMContentLoaded", function() {
            var myModal = new
            bootstrap.Modal(document.getElementById('announcementModel'),{
                backdrop: 'static',
                keyboard: false,
            });
            myModal.show();
        });
        </script>
    {% endif %}
{% endif %}