{% if site_announcement %}
        <div class="modal fade" id="announcementModal" tabindex="-1"
             aria-labelledby="announcementModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content shadow-lg border-0">
                    <div class="modal-header text-white" style="background-color: #5F9EA0">
                        <h5 class="modal-title fw-bold" id="announcementModalLabel"
                            style="font-family: 'Playfang Sans', serif;">
                                Announcement
                        </h5>
                        <button type="button" class="btn-close btn-close-white"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center py-5 fs-5 text-dark" style="font-family: 'Playfang Sans', serif; font-size: 1rem ">
                        {{ site_announcement.content|linebreaks }}
                    </div>
                    <div class="modal-footer justify-content-center border-0 pb-4">
                        <button type="button" class="btn btn-custom btn-lg shadow-sm px-5"  id="gotItBtn" data-bs-dismiss="modal">
                            Got it
                        </button>
                    </div>
                </div>
            </div>
        </div>

            <script>
            document.addEventListener("DOMContentLoaded", function() {
                var currentUser = "{{ request.user.username|default:'anonymous' }}";//获取当前用户的用户名
                var announcementID = {{ site_announcement.id }}
                var updatedTime = "{{ site_announcement.updated_time|date:'U' }}"//获取公告的更新时间戳
                var storageKey = 'hide_announcement_' + announcementID + '_' + updatedTime + '_' + currentUser;//生成专属键值
                //检查用户是不是已经点过不再提示了
                if (!localStorage.getItem(storageKey)) {
                    var myModal = new bootstrap.Modal(document.getElementById('announcementModal'), {
                        backdrop: 'static',
                        keyboard: false
                    })
                    //绑定“不再提示”的按钮
                    myModal.show();
                    document.getElementById('gotItBtn').addEventListener('click', function() {
                        localStorage.setItem(storageKey,'true')//将信息储存在浏览器中
                        //myModal.hide();//关闭窗口
                    });
                }
            });
            </script>
{% endif %}
