{% extends 'base.html' %}

{% block content %}
    <div class="p-4 mb-4 bg-white rounded shadow-sm">
        <h3 class="border-bottom pb-2 mb-4" style="font-family: 'Playfair Display', serif;">
            Public Topics
        </h3>

        <ul class="list-group list-group-flush">
            {% for topic in topics %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'learning_app:topic' topic.id %}" class="fs-5" style="color: #B0E0E6 ; text-decoration: none;">
                        {{ topic.txt }}
                    </a>
                    <small class="badge text-dark rounded-pill fs-6"
                           style="font-family: 'Playfair Display', serif;'"
                           title="{{ topic.owner.username }}">
                        by {{ topic.owner.username }}
                    </small>
                </li>
            {% empty %}
                <li class="list-group-item text-muted">
                    There aren't any public topics here yet.
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}