{% extends 'base.html' %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4 mt-3">
    <h1 class="mb-0 text-dark fw-bold">Topics</h1>
    <a href="{% url 'learning_app:new_topic' %}" class="btn btn-custom shadow-sm">Add New Topic</a>
  </div>

<div class="list-group mb-5">
    {% for t in topics %}
        <div class="list-group-item p-3 mb-3 rounded shadow-sm border d-flex justify-content-between align-items-center">
          <a href="{% url 'learning_app:topic' t.id %}" class=" text-decoration-none text-dark fs-5 fw-semibold flex-grow-1">
            {{ t }}
          </a>
            <form action="{% url 'learning_app:toggle_topic_public' t.id %}" method="post" class="m-0 ms-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm {% if t.is_public %}btn-custom{% else %}btn-custom_2{% endif %}">
                  {% if t.is_public %}Public (click to set private){% else %}Private (click to make public){% endif %}
                </button>
            </form>
        </div>
    {% empty %}
      <div class="list-group-item text-muted p-4 text-center rounded shadow-sm">No topics have been added yet.</div>
    {% endfor %}
  </div>
{% endblock content %}

