{% extends "base.html" %}

{% block content %}

    <h1 class="mb-2 text-dark fw-bold">Topic:</h1>

    <h2 class="mb-4"> {{ topic }} </h2>

    <h4 style="color: 	#008B8B; text-decoration: none;">Entries:</h4>

    <div class="mb-4">
        {% for entry in entries %}
            <div class="card mb-3 shadow-sm">
                <div class="card-header text-muted bg-light">
                    {{ entry.date_added|date:'M d, Y H:i' }}
                </div>
                <div class="card-body">
                    <div class="card-text mt-3" style="font-family: 'Playfair Display', serif; font-size: 1rem; letter-spacing: 1px;">
                        {{ entry.txt|linebreaks }}
                    </div>
                    <a href="{% url 'learning_app:edit_entry' entry.id %}" class="btn btn-outline-secondary btn-sm me-2">Edit entry</a>
                    <a href="{% url 'learning_app:delete_entry' entry.id %}" class="btn btn-outline-danger btn-sm">Delete Entry</a>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-info" role="alert">
                No entries have been added yet.
            </div>
        {% endfor %}
    </div>

    <a href="{% url 'learning_app:new_entry' topic.id %}" class="btn btn-custom mb-5">Add New Entry</a>

{% endblock content %}