{% extends "base.html" %}

{% block content %}

    <h1 class="mb-2 text-dark fw-bold">Topic:</h1>

    <h2 class="mb-4"> {{ topic }} </h2>

    <h4 style="color: 	#008B8B; text-decoration: none;">Entries:</h4>

    <div class="mb-4">
        {% for entry in entries %}
            <div class="card mb-3 shadow-sm border-0">
                <div class="card-header bg-light d-flex justify-content-between align-items-center">
                    <span class="text-muted" style="font-size: 0.9rem">
                        <strong>{{ entry.author.username }}</strong>
                        Released on {{ entry.date_added|date:'M d,Y H:i' }}
                    </span>

                <div class="d-flex align-items-center">
                    <button class="copybtn o-tooltip--left" data-tooltip="Copy" data-clipboard-target="#entry-text-{{ entry.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="20"
                             height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <rect x="8" y="8" width="12" height="12" rx="2"></rect>
                            <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>
                        </svg>
                    </button>
                    {% if request.user == entry.author or request.user.is_staff and topic.is_public %}
                        <div class="btn-group" role="group" aria-label="Entry Action">
                            {% if request.user == entry.author %}
                                <a href="{% url 'learning_app:edit_entry' entry.id %}" class="btn btn-sm btn-outline-secondary">
                                    Edit
                                </a>
                            {% endif %}

                            <a href="{% url 'learning_app:delete_entry' entry.id %}" class="btn btn-outline-danger btn-sm">
                                Delete Entry
                            </a>
                        </div>
                    {% endif  %}
                </div>
            </div>
                <div class="card-body">
                    <div id="entry-text-{{ entry.id }}" class="card-text mt-3" style="font-family: 'Playfair Display', serif; font-size: 1rem; letter-spacing: 1px;">
                        {{ entry.txt|linebreaks }}
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-info" role="alert">
                No entries have been added yet.
            </div>
        {% endfor %}
    </div>

    <a href="{% url 'learning_app:new_entry' topic.id %}" class="btn btn-custom mb-5">Add New Entry</a>

{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var clipboard = new ClipboardJS('.copybtn');
            clipboard.on('success', function(e) {
                var btn = e.trigger;
                var originalText = btn.getAttribute ('data-tooltip', 'Copied!');

                setTimeout(function() {
                    btn.setAttribute ('data-tooltip', originalText);
                },2000);

                e.clearSelection ();
            })

            clipboard.on('error', function(e) {
                console.error("Failed to save entry: " + e);
            })
        })
    </script>
{% endblock scripts %}